/* carousel styling */
a.text-link {
    text-decoration: none;
    outline: none;
}
.carousel-img {
    position: absolute;
    width: auto;
    height: 100px;
}
.img-item {
    max-height: 100vh;
    max-width: 100%;
    filter: brightness(40%);
}
.carousel-text {
    position: absolute;
}
.text-item {
    font-size: 50px;
    font-weight: 1000;
    color: white;
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
    line-height: 90%;
    opacity: 0.2;
    padding-top: 120px;
}
.text-icon {
    width: 90px; 
    height: auto;
    position: absolute;
    transform: rotate(10deg);
    z-index: -1;
}

/* slick styling */
.slick-center {
    transform: scale(2);
    transition: transform 2s;
    opacity: 1;
}
.slick-slide {
    outline: none;
}
header.masthead .carousel-container .carousel-text.slick-slider,
header.masthead .carousel-container .carousel-text.slick-slider .slick-list {
    height: 400px;
}

/* mobile */
@media (max-width: 992px){
    .text-item {
        font-size: 10px;
        font-weight: 1000;
        color: white;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 90%;
        opacity: 0.2;
        padding-top: 20px;
    }
    .text-icon {
        width: 40px; 
        height: auto;
        position: absolute;
        transform: rotate(10deg);
        bottom: 0;
        z-index: -1;
    }
    h6 {
        font-size: 5px;
    }
    .slick-center {
        opacity: 1;
    }
}